:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Manrope", sans-serif;
  --primary-color: #1b1d1b;
  --secondary-color: #202321;
  --background-color: #f7fbfb;
  --accent-color: #5b86a1;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--background-color);
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.section {
  padding-top: 80px;
  text-align: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.second__title {
  font-size: 68px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 60px;
  text-align: center;
}
