.hero__container {
  background-image: url("../images/hero_bg.jpg");
  text-align: center;
  padding-top: 258px;
  padding-bottom: 266px;
  position: relative;
}
.hero__title {
  font-size: 88px;
  font-weight: 400;
  color: var(--background-color);
}
